<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Name: <%= users.name %></h1>
    <h1>Email: <%= users.email %></h1>
    <img src="<%= users.qr %>" width="100px">
    <h1>Kehadiran: <%= users.hadir %></h1>
    <h1>Makan Siang: <%= users.makanSiang %></h1>
    <h1>Snack: <%= users.Snack %></h1>
</body>
</html>
